// light colors
$light4: #fafafa;
$light3: #e8e8e8;
$light2: #d6d6d6;
$light: #dbdbdb;
// dark colors
$dark4: #5c5c5c;
$dark3: #474747;
$dark2: #262626;
$dark: #141414;
// alternative colors
$color1: #809296;
$color2: #abafc7;
$color3: #c7abb4;
$color4: #c6c7ab;